# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Henrry Cordovillo\OneDrive - Escuela Politécnica Nacional\Quinto Semestre\Inteligencia Artificial\SistemaMultiagentesPeces\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
